{% extends 'base.html.twig' %}

{% block title %}Paiement en ligne{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleFrontAll.css') }}">
    {% endblock %}


    {#TOP#}
    <div class="row text-center">
        <div class="col p-5 text-center" style="min-height: 14rem;">
            <h2 class="name-site">FindACoach</h2>
            <h1 class="display-4" style="">Paiement en ligne</h1>
        </div>
    </div>

    <div class="container justify-content-center text-center p-3 rounded border border-primary">

        <div class="row">
        <div class="col " style="min-height: 20vh">
            <img src="{{ asset('Paiement_en_ligne.png') }}" alt="" style="height: 200px">
        </div>
        </div>

        <div class="row">
        <div class="col p-6">
            <h5 style="font-size: 1.8em">Recapitulatif de la commande</h5>
            Votre coach : {{coachPrenom}} {{coachNom}} <br>
            Le jour de votre rendez-vous : {{jour | date('d-m-Y')}} à {{heureRdv | date('H:i')}} <br>
            Pour une durée de : {{duree}} h <br>
            Lieu : {{lieu}} <br>
            Total de votre séance : {{total}} €
        </div>
        </div>

        <div class="row justify-content-center">
        <div class="col-6">

            <form action="" method="post" id="payment-form" class="m-3">
              <label for="card-element" class="text-left">
                Carte de crédit
              </label>
              <div id="card-element" class="form-control">
                <!-- A Stripe Element will be inserted here. -->
              </div>
              <!-- Used to display Element errors. -->
              <div id="card-errors" role="alert"></div>

                <div id="switchGif" class="m-4" style="min-height: 70px;">
                <button id="btn-paiement" class="mt-2">Confirmer</button>
                </div>

                <div class="row justify-content-end">
                    <img class="m-2" src="{{ asset('paiement-stripe.png') }}" alt="" style="height: 50px">
                </div>
            </form>

        </div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>


    var stripe = Stripe('pk_test_KPKb152QizLWddvxZbnJml6500MouClgKA');
          
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            var style = {
                base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: '#32325d',
                },
            };

            // Create an instance of the card Element.
            var card = elements.create('card', {style: style});

            // Add an instance of the card Element into the `card-element` <div>.
            card.mount('#card-element');

            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {




            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                // Inform the customer that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
                } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
                }
            });
            });

            function stripeTokenHandler(token) {

                {# GIF #}
                var btnContent = document.getElementById("switchGif")
                document.getElementById("btn-paiement").style.display = "none";
                btnContent.innerHTML = '<img src="{{ asset('VAyR.gif') }}" alt="" style="height: 60px;">'


                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
              }
</script>

{% endblock %}