{% extends 'base.html.twig' %}

{% block title %}Fiche Client{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <style>
            .img-top {
                background: url(../../ail_work_working.jpg) no-repeat center center fixed;
                background-size: cover;
                box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, .5);
            }

        </style>
    {% endblock %}

    <div class="row text-center mb-5 img-top">
        <div class="col p-5 text-center" style="min-height: 14rem;">
            <h2 class="name-site" style="">FindACoach</h2>
            <h1 class="display-4" style="font-size: 2.5em;">Ma Fiche</h1>
        </div>
    </div>

<div class="container">

    {% if is_granted("ROLE_CLIENT") %}

        {{ form_start(ficheClient) }}

        <div class="row justify-content-center">
        <div class="col-8">

            <div class="row">
                <div class="col-6">
                        {{ form_row(ficheClient.nom) }}
                </div>
                <div class="col-6">
                        {{ form_row(ficheClient.prenom) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(ficheClient.adresse) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(ficheClient.codePostal) }}
                </div>
                <div class="col-6">
                    {{ form_row(ficheClient.ville) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6 mx-auto">
                    {{ form_row(ficheClient.telephone) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(ficheClient.age) }}
                </div>
                <div class="col-4">
                    {{ form_row(ficheClient.poids) }}
                </div>
                <div class="col-4">
                    {{ form_row(ficheClient.taille) }}
                </div>
            </div>

            <button class='btn btn-primary mt-3' type="submit">Envoyer</button>

        </div>
        </div>


        {{ form_end(ficheClient) }}



    {% else %}
        <h2>Nous ne reconnaissons pas votre personne, veuillez vous identifier !!</h2>
        <a href="{{path('login')}}">Se connecter</a>
    {% endif %}

</div>{#CONTAINER#}


{% endblock %}
