{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h2>Inscription client</h2>
    
    {{ form_start(formInscription) }}
    
    {{form_row(formInscription.email, {'label':'Adresse email ', attr : { 'placeholder': 'adresse email'}})}}
    {{form_row(formInscription.password, {attr : { 'placeholder': 'mot de passe'}})}}
    {{form_row(formInscription.confirm_password, {attr : { 'placeholder': 'confirmer mot de passe'}})}}
    
    <button type="submit" class='btn btn-primary'> Confirmer </button>
    {{ form_end(formInscription) }}
</div>
{% endblock %}