{% extends 'base.html.twig' %}

{% block body %}

    <div class="row text-center">
        <div class="col-12 p-5" style="min-height: 14rem; background: #6faae2">
            <h1 class="display-4 mt-5">Inscription client</h1>
        </div>
    </div>

<div class="container">

    {{ form_start(formInscription) }}
    {{ form_row(formInscription.pseudo) }}
    {{form_row(formInscription.email, {'label':'Adresse email ', attr : { 'placeholder': 'adresse email'}})}}
    {{form_row(formInscription.password, {attr : { 'placeholder': 'mot de passe'}})}}
    {{form_row(formInscription.confirm_password, {attr : { 'placeholder': 'confirmer mot de passe'}})}}
    
    <button type="submit" class='btn btn-primary'> Confirmer </button>
    {{ form_end(formInscription) }}


</div>
{% endblock %}