<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>findacoach</title>
        <meta name="Content-Type" content="UTF-8">
        <meta name="Content-Language" content="fr">
        <meta name="Description" content="Pour débuter le sport, s’y remettre après un long hiatus ou améliorer sa performance, rien ne vaut un coach sportif personnel.">
        <meta name="Keywords" content="findacoach coach trouver recherche sport training forme seance">
        <meta name="Subject" content="Touver un coach">
        <meta name="Copyright" content="findacoach">
        <meta name="Author" content="Cullell, Barotte, Navarro">
        <meta name="Revisit-After" content="15 days">
        <meta name="Robots" content="all">
        <meta name="Rating" content="general">
        <meta name="Distribution" content="local">
        <meta name="Geography" content="Paris">
        <meta name="Category" content="sports">

        <title>{% block title %}FindACoach{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/effetCss.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleFrontAll.css') }}">

        {% block stylesheets %}

        {% endblock %}
        <style>
            /* CONTACT IMG */
            .img-contact {
                height: 50px;
                transition-duration: .5s;
                cursor: pointer;
            }
            .img-contact:hover {
                transition-duration: .5s;
                height: 60px;
            }
            #block-contact {
                display:none;
                position: fixed;z-index: 500;
                bottom: 0;
                right: 85px;
                height: 400px;width: 280px;
                border: solid 1px black;
                box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
            }

            /* PROGRESS BAR */ 
            .progress-container {
                width: 100%;
                height: 4px;
                background: rgba(0,0,0,0);
            }
            .progress-bar {
                height: 4px;
                background: #5bc65b;
                width: 0%;
            }

            .form-error-message {
                color: white !important;
            }
            .name-site-logo {
                color: white;
                font-family: 'Baloo Bhai', cursive;
                font-size:1.5em;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px rgba(0,0,0,.9);
            }
            .nav-link:hover {
                color: #007BFF !important;
            }

        </style>
    </head>

    <body>

        <div class="progress-container" style="position: fixed;z-index: 500; top: 0px;left: 0px;">
            <div class="progress-bar" id="myBar" style="position: fixed;z-index: 500; top: 0px;left: 0px;"></div>
        </div>

        <nav class="navbar navbar-expand-md navbar-light fixed-top nav-bar-back">
            <a class="navbar-brand text-white name-site-logo" href="{{path('home')}}">FindACoach</a>
            <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav ml-auto">

                    {# CLIENT #}
                      {% if is_granted("ROLE_CLIENT") %}
                          <li class="nav-item">
                              <a class="nav-link text-white" href="{{path('fiche.client', {user : app.user.id})}}">Remplir ma fiche </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-white" href="{{path('client.rdv')}}">Voir mes rendez-vous </a>
                          </li>
                      {% endif %}

                    {# COACH #}
                    {% if is_granted("ROLE_COACH") %}
                        <li class="nav-item">
                          <a class="nav-link text-white" href="{{path('fiche.coach', {user : app.user.id})}}">Remplir ma fiche </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{path('coach.rdv')}}">Voir mes rendez-vous </a>
                        </li>
                    {% endif %}

                    {% if app.user %}
                    {# DECONNEXION #}
                        <li class="nav-item">
                          <a class="nav-link text-white" onclick="return(confirm('Etes-vous sûr de vouloir vous déconnecter ?'));" href="{{path('logout')}}">Se deconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                          <a class="nav-link text-white" href="{{path('inscriptionCoach')}}">Inscription Coach </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white" href="{{path('inscriptionClient')}}">Inscription Client </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white" href="{{path('app_login')}}">Login </a>
                        </li>
                    {% endif %}
                </ul>

            </div>
          </nav>

    {% block body %}{% endblock %}

        {# CONTACT #}
        <div id="contact" style="color: red; position: fixed;z-index: 500; bottom: 20px;right: 30px;">
            <img class="img-contact" src="{{ asset('contact.png') }}" alt="">
        </div>

        <div id="block-contact" class="bg-primary rounded p-2" style="display:none; position: fixed;z-index: 500; bottom: 0;right: 85px; height: 400px;width: 280px; border: solid 1px black;box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);">
            <div class="row text-center justify-content-center">
                <form action="{{path('contact')}}" method="post" id="contact-form">
                    <aside class="alert d-none">

                    </aside>
                    <div class="col">
                        <h5 class="display-4" style="font-size: 1.5em">Nous Contacter</h5>

                        <input type="text" placeholder="Nom" name="nom" class="form-control mb-2">

                        <input type="text" placeholder="Prenom" name="prenom" class="form-control mb-2">

                        <input type="email" placeholder="Email" name="email" class="form-control mb-2">

                        <textarea placeholder="Message" name="message"  cols="40" rows="6" class="form-control mb-2" style="max-height: 170px"></textarea>

                        <button class="btn btn-outline-warning">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>

        {# FOOTER #}
        <div class="mt-5" style="min-height: 200px; background: #232323">

            {# SEPARATION #}
            <div class="row" style="height: 1px;background: rgba(0,0,0, .5); box-shadow: -3px -3px 5px 1px rgba(0, 0, 0, .6);"></div>

            <div class="container">
            <div class="row justify-content-center">

                <div class="col-4 mt-4 text-center">
                    <h2 class="name-site text-left" style="font-size: 1.8em;">FindACoach</h2>
                    <br>
                    <a href="{{path('app_login')}}">Inscription Coach</a><br>
                    <a href="{{path('inscriptionClient')}}">Inscription Client</a><br>
                    

                    {# CLIENT #}
                    {% if is_granted("ROLE_CLIENT") %}
                        <a  href="{{path('fiche.client', {user : app.user.id})}}">Remplir ma fiche </a>
                        <br>
                        <a  href="{{path('client.rdv')}}">Voir mes rendez-vous </a>
                    {% endif %}
                    {# COACH #}
                    
                    {% if is_granted("ROLE_COACH") %}
                        <a  href="{{path('fiche.coach', {user : app.user.id})}}">Remplir ma fiche </a>
                        <br>
                        <a  href="{{path('coach.rdv')}}">Voir mes rendez-vous </a>
                    {% endif %}
                    <br>
                    <a href="{{path('app_login')}}">Login</a><br>

                </div>
                <div class="col-4 mt-4">

                </div>
                <div class="col-4 mt-4">
                    A propos <br><br>
                    Politique de confidentialité <br>
                    Aide et FAQ <br>
                    Conditions Générales d'Utilisation <br>
                    Politique de Protection des Données Personnelles <br>
                </div>

                <div class="col m-3 text-center text-secondary" style="font-size: .8em;">
                    findacoach.fr - 2020 - All rights reserved - Made in Damien, Sullivan, Benjamin
                </div>

            </div>
            </div>

        </div>


    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>

        // CONTACT EFFET
        $("#contact").click(function(){
            $("#block-contact").slideToggle().addClass("zoomInRight");
        });

        $('select').select2();
        $('span').css('color','black');

            // CONATCT 
            $(function () {
                $('#contact-form').submit(function (event) {
                    // Annule l'action par défaut (on ne veut pas que la page se recharge)
                    event.preventDefault();
                    // Envoi de la requête XHR
                    $.post($(this).attr('action'), $(this).serializeArray(), function (data) {

                        let $aside = $('#contact-form aside');
                        let $blockContact = $('#block-contact');
                        // Notifications
                        if (data) {
                            $aside.addClass('alert-success').text('Le message a bien été envoyé !').removeClass('d-none');
                                $blockContact.addClass("zoomOutRight");
                        } else {
                            $aside.addClass('alert-danger').text('Erreur lors de l\'envoi du message !').removeClass('d-none');
                        }
                    });
                });
            });


          // When the user scrolls the page, execute myFunction
          window.onscroll = function() {myFunction()};
          function myFunction() {
              var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
              var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
              var scrolled = (winScroll / height) * 100;
              document.getElementById("myBar").style.width = scrolled + "%";
          }


        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

