{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
       {{ fichefull.nom }}
        <img src="{{ vich_uploader_asset(fichefull, 'imageFile') }}" alt="" style="width:200px;height:180px">
        <a href="{{ vich_uploader_asset(fichefull, 'diplomeFile') }}" alt="">PDF</a>
    </div>

    <div>
        {{ form_start(formRdv) }}
        {{ form_rest(formRdv) }}
        <button>Réserver</button>
        {{ form_end(formRdv) }}
    </div>
{% endblock %}
