{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron">

       Bienvenue sur la fiche de <h2>{{ fichefull.nom }}</h2>
            
        {{ fichefull.prenom }}

            <img src="{{ vich_uploader_asset(fichefull, 'imageFile') }}" alt="" style="width:200px;height:180px">
            <a href="{{ vich_uploader_asset(fichefull, 'diplomeFile') }}" alt="">PDF</a>

        {{ fichefull.age }}
        {{ fichefull.domaine }}
        {{ fichefull.prix }}


    </div>


        {% if is_granted("ROLE_CLIENT") %}
            {{ form_start(formRdv) }}
            {{ form_rest(formRdv) }}
            <button>Réserver</button>
        {{ form_end(formRdv) }}
        {% else %}
            <p>Vous devez être connecté/inscrit pour réserver ! </p>
            <a class="nav-link" href="{{path('app_login')}}">Connection | Inscription </a>
        {% endif %}


{% endblock %}
