{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

    <link href="{{ asset('css/fichefullcoach.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}


        <div class="row text-center mb-5">
            <div class="col-12 p-5" style="min-height: 14rem; background: #6faae2">
               <h1 class="display-4 mt-5">Réserver votre séance de {{ fichefull.domaine }} avec {{ fichefull.prenom }}</h1>
            </div>
        </div>



    <div class="container">

        <div class="row mt-5">

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-4">
                        <img class="rounded-circle img-coach text-center" src="{{ vich_uploader_asset(fichefull, 'imageFile') }}" alt="">
                    </div>
                    <div class="col mt-4 ml-5">

                            <h4 class="display-4" style="color: white; font-size: 2.5em;">{{ fichefull.nom }} {{ fichefull.prenom }}</h4><br>
                        <p>
                            Domaine : {{ fichefull.domaine }}<br>
                            Age : {{ fichefull.age }}<br>
                            Prix : {{ fichefull.prix }}€/h <br>
                            <a href="{{ vich_uploader_asset(fichefull, 'diplomeFile') }}" alt="">Qualifications/Diplômes</a>
                        </p>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <h3 class="display-4">A propos de moi</h3>
                        <p>
                            {#            {{ fichefull.description_coach }}#}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at debitis facilis id inventore magni molestiae quae rem.
                            Eaque fugit illo labore laborum magnam magni quasi ratione similique voluptate voluptatum!
                        </p>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <h3 class="display-4">Mon type de séance</h3>
                        <p>
{#                        {{ fichefull.description_seance }}#}
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores facilis, mollitia odit officiis soluta voluptatibus voluptatum?
                        Accusantium dicta, doloribus, ea earum eveniet exercitationem facere magni mollitia, perferendis repudiandae tempore veritatis.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda inventore maxime modi non tenetur ut. Assumenda consequatur, debitis doloribus,
                        inventore laboriosam obcaecati pariatur quaerat quisquam reiciendis sit tempora voluptas.
                        </p>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <h3 class="display-4">Mon calendrier</h3>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, vitae. Cupiditate debitis earum
                        iusto magnam nam! Deleniti est, excepturi exercitationem explicabo illum perferendis quas repellat voluptatibus. Nihil, officiis quae!
                        </p>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <h3 class="display-4">Ma Zone de déplacement</h3>

                    </div>
                </div>
            </div>




            <div class="col-lg-4 mt-5 mb-5">
                <div class="card bShadow rounded text-center">
                    <div class="card-header">
                        Réservation
                    </div>
                    <div class="card-body p-5">
                        {% if is_granted("ROLE_CLIENT") %}
                        <p style="color: white;">
                            {{ form_start(formRdv) }}
                            {{ form_rest(formRdv) }}
                            <button class="btn btn-primary m-3">Réserver</button>
                            {{ form_end(formRdv) }}
                        </p>
                        {% else %}
                            <p>Vous devez être connecté/inscrit pour réserver! </p>
                            <button class="btn border border-warning m-3" style="color: white"> <a href="{{path('app_login')}}">Connection</a> | <a href="{{path('inscriptionClient')}}">Inscription</a> </button>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>


        {% if error %}
            <div class="alert alert-danger"> Ce coach est déjà réservé pour cette date.</div>
        {% endif %}



        {% include '@Calendar/calendar.html' %}
        <button id="test" onclick="afficherCalendar(); this.onclick=null;">Voir disponibilités</button>


        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script>  
            
            function afficherCalendar()
            {
            var calendarEl = document.getElementById('calendar-holder');
        
            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: false,
                eventSources: [
                    {
                        url: "/fc-load-events",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            calendar.render();
        };</script>
    {% endblock %}

{% endblock %}
