{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
       {{ fichefull.nom }}
        <img src="{{ vich_uploader_asset(fichefull, 'imageFile') }}" alt="" style="width:200px;height:180px">
        <a href="{{ vich_uploader_asset(fichefull, 'diplomeFile') }}" alt="">PDF</a>
    </div>

    <div>
        {% if is_granted("ROLE_CLIENT") %}
            {{ form_start(formRdv) }}
            {{ form_rest(formRdv) }}
            <button>Réserver</button>
        {{ form_end(formRdv) }}
        {% else %}
            <p>Vous devez être connecté/inscrit pour réserver ! </p>
            <a class="nav-link" href="{{path('inscriptionClient')}}">M'inscrire</a>
            |
            <a class="nav-link" href="{{path('login')}}">Me connecter </a>
        {% endif %}

    </div>
{% endblock %}
