{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}
{% block body %}



    <div class="container">

        <div class="jumbotron">

       Bienvenue sur la fiche de <h2>{{ fichefull.nom }}</h2>
            
        {{ fichefull.prenom }}

            <img src="{{ vich_uploader_asset(fichefull, 'imageFile') }}" alt="" style="width:200px;height:180px">
            <a href="{{ vich_uploader_asset(fichefull, 'diplomeFile') }}" alt="">PDF</a>

        {{ fichefull.age }}
        {{ fichefull.domaine }}
        {{ fichefull.prix }}


    </div>

        {% if error %}
            <div class="alert alert-danger"> Ce coach est déjà réservé pour cette date.</div>
        {% endif %}
        
       

        {% include '@Calendar/calendar.html' %}
        <button id="test" onclick="afficherCalendar(); this.onclick=null;">Voir disponibilités</button>

        {% if is_granted("ROLE_CLIENT") %}
        
            {{ form_start(formRdv) }}
            {{ form_rest(formRdv) }}
            <button>Réserver</button>
        {{ form_end(formRdv) }}
        {% else %}
            <p>Vous devez être connecté/inscrit pour réserver ! </p>
            <a class="nav-link" href="{{path('app_login')}}">Connection | Inscription </a>
        {% endif %}


        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script>  
            
            function afficherCalendar()
            {
            var calendarEl = document.getElementById('calendar-holder');
        
            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: false,
                eventSources: [
                    {
                        url: "/fc-load-events",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            calendar.render();
        };</script>
    {% endblock %}
{% endblock %}
