{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
       Bienvenue sur la fiche de <h2>{{ fichefull.nom }}</h2>
        {{ fichefull.prenom }}
        {{ fichefull.photo }}
        {{ fichefull.age }}
        {{ fichefull.domaine }}
        {{ fichefull.prix }}
        </div>
    </div>

    <div>
        {{ form_start(formRdv) }}
        {{ form_rest(formRdv) }}
        <button>Réserver</button>
        {{ form_end(formRdv) }}
    </div>
{% endblock %}
