{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block body %}

    <div class="row text-center mb-5">
        <div class="col-12 p-5" style="min-height: 14rem; background: #6faae2">
            <h1 class="display-4 mt-5">Mes rendez-vous</h1>
        </div>
    </div>

    <div class="container">
        {% for rdv in rdvcoachs %}
            {% if rdv.total %}
                <div>
                    Vous avez rendez-vous avec {{ rdv.client.nom }},
                    Le {{ rdv.jour | date("d/m/Y") }}
                    à {{ rdv.heure | date("H:i") }}
                    pour une durée de  {{ rdv.duree }} heure(s)
                    à {{ rdv.lieu}}
                    pour un montant de {{ rdv.total }} €.
                </div>
            {% endif %}
        {% endfor %}
        <h2>Ajouter les heures où vous ne pourrez pas être disponible </h2>
        
        {{form_start(form)}}
        {{form_row(form.jour)}}
        {{form_row(form.heure)}}
        {{form_row(form.duree)}}
        {{ form_row(form._token) }}
        
        
        <button type="submit">Envoyer</button>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    
{% endblock %}

