{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block body %}
    <div class="container">
        {% for rdv in rdvcoachs %}
            <div>
                Vous avez rendez-vous avec {{ rdv.client.nom }},
                Le {{ rdv.jour | date("d/m/Y") }}
                à {{ rdv.heure | date("H:i") }}
                pour une durée de  {{ rdv.duree }} heure(s)
                à {{ rdv.lieu}}
                pour un montant de {{ rdv.total }} €.
            </div>

        {% endfor %}
    </div>
{% endblock %}
